{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="humans.txt"/>

    <!-- for Google -->
    <meta name="description"
          content="OSI Innebandy er et studentidrettslag i Oslo. Vi har to herrelag og to damelag. Vi søker alltid etter nye medlemmer. Bli med i dag!"/>
    <meta name="keywords" content="Innebandy Oslo akershus student idrett Domus athletica"/>

    <meta name="author" content="OSI Innebandy"/>
    <meta name="copyright" content="OSI Innebandy"/>


    <!-- for Facebook -->
    <meta property="og:title" content="OSI Innebandy">
    <meta property="og:image" content="http://www.osi-innebandy.no/static/img/favicons/fav.png">
    <meta property="og:image:width" content="260">
    <meta property="og:image:height" content="260">
    <meta property="og:site_name" content="OSI Innebandy">
    <meta property="og:url" content="http://osi-innebandy-no/">
    <meta property="og:description"
          content="OSI Innebandy er et studentidrettslag i Oslo. Vi har to herrelag og to damelag. Vi søker alltid etter nye medlemmer. Bli med i dag!">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="">


    <title>{% block title %}{% endblock %} | OSI {% trans 'Innebandy' %}</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsiveslides.css' %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css"
          rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favoicons -->
    <link rel="apple-touch-icon" sizes="57x57"
          href="{% static 'img/favicons/apple-touch-icon-57x57.png?v=Gvvg6BBzyL' %}">
    <link rel="apple-touch-icon" sizes="60x60"
          href="{% static 'img/favicons/apple-touch-icon-60x60.png?v=Gvvg6BBzyL' %}">
    <link rel="apple-touch-icon" sizes="72x72"
          href="{% static 'img/favicons/apple-touch-icon-72x72.png?v=Gvvg6BBzyL' %}">
    <link rel="apple-touch-icon" sizes="76x76"
          href="{% static 'img/favicons/apple-touch-icon-76x76.png?v=Gvvg6BBzyL' %}">
    <link rel="apple-touch-icon" sizes="114x114"
          href="{% static 'img/favicons/apple-touch-icon-114x114.png?v=Gvvg6BBzyL' %}">
    <link rel="apple-touch-icon" sizes="120x120"
          href="{% static 'img/favicons/apple-touch-icon-120x120.png?v=Gvvg6BBzyL' %}">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{% static 'img/favicons/apple-touch-icon-144x144.png?v=Gvvg6BBzyL' %}">
    <link rel="apple-touch-icon" sizes="152x152"
          href="{% static 'img/favicons/apple-touch-icon-152x152.png?v=Gvvg6BBzyL' %}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'img/favicons/apple-touch-icon-180x180.png?v=Gvvg6BBzyL' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-32x32.png?v=Gvvg6BBzyL' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicons/android-chrome-192x192.png?v=Gvvg6BBzyL' %}"
          sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-96x96.png?v=Gvvg6BBzyL' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-16x16.png?v=Gvvg6BBzyL' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'img/favicons/manifest.json?v=Gvvg6BBzyL' %}">
    <link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg?v=Gvvg6BBzyL' %}" color="#AB1500">
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico?v=Gvvg6BBzyL' %}">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-144x144.png?v=Gvvg6BBzyL' %}">
    <meta name="theme-color" content="#AB1500">

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">OSI {% trans 'Innebandy' %}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="">
                    <a href="{% url 'D1' %}">{% trans 'Damer 1' %}</a>
                </li>
                <li class="">
                    <a href="{% url 'D2' %}">{% trans 'Damer 2' %}</a>
                </li>
                <li class="">
                    <a href="{% url 'H1' %}">{% trans 'Herrer 1' %}</a>
                </li>
                <li class="">
                    <a href="{% url 'H2' %}">{% trans 'Herrer 2' %}</a>
                </li>
                <li class="">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% if LANGUAGE_CODE == 'en' %}
                            <input name="language" type="hidden" value="nb"/>
                            <input class="flag" type="image" src="{% static 'img/Flags/Flag_of_Norway.svg' %}"
                                   value="norsk" alt="Norsk"/>
                        {% else %}
                            <input name="language" type="hidden" value="en"/>
                            <input class="flag" type="image"
                                   src="{% static 'img/Flags/Flag_of_the_United_Kingdom.svg' %}" value="english"
                                   alt="English"/>
                        {% endif %}
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Content block -->
{% block content %}
{% endblock %}




<!-- Footer -->
<div class="above-footer">
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4>
                    <strong>OSI {% trans 'Innebandy' %}</strong>
                </h4>

                <p>
                    <a href="https://www.google.no/maps/place/Athletica+Domus/@59.947404,10.721922,17z/data=!4m6!1m3!3m2!1s0x0:0x1467aea8301915d6!2sDomus+Athletica!3m1!1s0x0:0x564c4a10cd4f0221"
                       target="_blank">Trimveien 4</a><br>Oslo</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i>452 76 177</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a
                            href="mailto:innebandy@osi.no">innebandy@osi.no</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/osi.innebandy"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; www.osi-innebandy.no 2016</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>


<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/main.js' %}"></script>

<!-- Slider -->
<script>
    $(function () {
        $(".rslides").responsiveSlides();
    });

    $(".rslides").responsiveSlides({
        auto: true,             // Boolean: Animate automatically, true or false
        speed: 500,            // Integer: Speed of the transition, in milliseconds
        timeout: 6000,          // Integer: Time between slide transitions, in milliseconds
        pager: false,           // Boolean: Show pager, true or false
        nav: false,             // Boolean: Show navigation, true or false
        random: false,          // Boolean: Randomize the order of the slides, true or false
        pause: false,           // Boolean: Pause on hover, true or false
        pauseControls: true,    // Boolean: Pause when hovering controls, true or false
        prevText: "Previous",   // String: Text for the "previous" button
        nextText: "Next",       // String: Text for the "next" button
        maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
        navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
        manualControls: "",     // Selector: Declare custom pager navigation
        namespace: "rslides",   // String: Change the default namespace used
        before: function () {
        },   // Function: Before callback
        after: function () {
        }     // Function: After callback
    });
</script>

<!-- Sorting tables -->
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "paging": false,
            "ordering": true,
            "info": false,
            "searching": false,
            "language": {
                "emptyTable": " "
            }
        });
    });
</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75498550-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
